
    body {
      background-color:bisque;
      color:black; 
      font-size: 15px; 
      font-family: poppins;
      margin: 0;
    }

    p {
      font-family:Arial, Helvetica, sans-serif;
      color: black; 
      text-align: justify;
    }

    .header {
      background-image: url(imagens/Perfil.jpg);
      background-size: cover;
      background-position: 50% 32%;
      padding: 60px 30px 80px;
      margin: auto;
    }

    .texto-foto-principal {
      text-align: left;
      width: 35%;
      background-color: rgb(219, 250, 241);
      margin-bottom: 4em;
      background-position: 30%;
    }

    .links {
      color:red; 
      background-color: rgb(219, 250, 241); 
      font-size: 18px;
      width: 110px;
      
    } 

    h1 {
      font-size: 2em; 
      text-align: center; 
      color: crimson;
    }

    h2, h3 {
        text-align: center;
        color: crimson;
        text-decoration: underline;
      }
    
    strong {
        color: blue;
      }

    #foto_pessoal {
      border-radius: 50px; 
      margin: 0 auto;
    }

    #texto-foto {
      size: 2px; 
      text-align: right;
      color: brown;
      font-family: 'Times New Roman', Times, serif;
    }

    #habilidades {
      text-align: left;
      
    }
    